<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <meta charset="UTF-8">
    <title>BOM信息</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li>
        <a th:href="@{/work_order}">工单列表</a>
    </li>
    <li class="active">
        <a th:href="@{/}">BOM信息</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active">
        <div class="demoTable">
            <div class="layui-form-item">
                <span>工单号：</span>
                <div class="layui-inline">
                    <input class="layui-input" type="text" th:value="${workOrder.orderCode}" disabled>
                </div>
                <span>产品：</span>
                <div class="layui-inline">
                    <input class="layui-input" type="text" th:value="${workOrder.product_id}" disabled>
                </div>
                <span>BOM名称：</span>
                <div class="layui-inline">
                    <input class="layui-input" type="text" th:value="${bom.bomName}" disabled>
                </div>
            </div>
            <p>BOM详情：</p>
            <table class="layui-table">
                <thead>
                <tr>
                    <td>材料类型</td>
                    <td>材料数量</td>
                    <td>单位</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bomDetail:${bomDetailList}">
                    <td th:text="${bomDetail.mType}"></td>
                    <td th:text="${bomDetail.mNum}"></td>
                    <td th:text="${bomDetail.unit}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>