<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <title>生产执行业务系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">生产执行业务系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    <span th:text="${session.name}"></span>
                </a>
            </li>
            <li class="layui-nav-item"><a th:href="@{/Login}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">设备基础资料管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/androidPADs}" target="content_iFrm">PAD</a></dd>
                        <dd><a th:href="@{/Electronsteelyards}" target="content_iFrm">电子秤</a></dd>
                        <dd><a th:href="@{/Codeprinters}" target="content_iFrm">打印机</a></dd>
                        <dd><a th:href="@{/Iphotos}" target="content_iFrm">扫码枪</a></dd>
                        <dd><a th:href="@{/Cardreaders}" target="content_iFrm">读卡器</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">资源基础资料</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/company}" target="content_iFrm">企业</a></dd>
                        <dd><a th:href="@{/factory}" target="content_iFrm">工厂</a></dd>
                        <dd><a th:href="@{/workshop}" target="content_iFrm">车间</a></dd>
                        <dd><a th:href="@{/line}" target="content_iFrm">产线</a></dd>
                        <dd><a th:href="@{/workstation}" target="content_iFrm">工站</a></dd>
                        <dd><a th:href="@{/workcell}" target="content_iFrm">工位</a></dd>
                        <dd><a th:href="@{/employee}" target="content_iFrm">员工</a></dd>
                        <dd><a th:href="@{/cellemployee}" target="content_iFrm">工位与员工关系</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">员工工作信息</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/mountguard}" target="content_iFrm">上岗记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">工单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/order}" target="content_iFrm">订单信息</a></dd>
                        <dd><a th:href="@{/work_order}" target="content_iFrm">工单维护</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe name="content_iFrm" frameborder="no" border="0" class="larry-iframe"
                style="width: 100%;height: 100%;" src=""></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use(['element','layer'], function(){

        var element = layui.element;

    });
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>