<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <meta charset="UTF-8">
    <title>车间</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="active">
        <a th:href="@{/workshop}">车间列表</a>
    </li>
    <li><a th:href="@{/form_workshop}">车间添加</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active">
        <div class="demoTable">
            <form method="post" action="oneWorkShop">
                <span>车间名称：</span>
                <div class="layui-inline">
                    <input class="layui-input" name="select_name" type="text" value=""/>
                </div>
                <button type="submit" class="layui-btn">查询</button>
            </form>
        </div>
        <table class="layui-table">
            <thead>
            <tr>
                <td>车间名称</td>
                <td>所属工厂</td>
                <td>车间编码</td>
                <td>车间负责人</td>
                <td>车间描述</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${workShop!=null}">
                <td th:text="${workShop.shopName}"></td>
                <td th:text="${workShop.factoryName}"></td>
                <td th:text="${workShop.shopNo}"></td>
                <td th:text="${workShop.master}"></td>
                <td th:text="${workShop.description}"></td>
                <td>
                    <a class="layui-btn layui-btn-xs" th:href="@{/update_workshop/}+${workShop.id}">修改</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" th:href="@{/delete_workshop/}+${workShop.shopName}">删除</a>
                </td>
            </tr>
            <tr th:each="workshop:${workShopList}">
                <td th:text="${workshop.shopName}"></td>
                <td th:text="${workshop.factoryName}"></td>
                <td th:text="${workshop.shopNo}"></td>
                <td th:text="${workshop.master}"></td>
                <td th:text="${workshop.description}"></td>
                <td>
                    <a class="layui-btn layui-btn-xs" th:href="@{/update_workshop/}+${workshop.id}">修改</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" th:href="@{/delete_workshop/}+${workshop.shopName}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pagination"></div>

</body>
</html>